.find_doc-spec {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 12px;
    margin: 13px;
}

.find_doc-spec img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.left-side-spec {
    margin-left: 10px;
}

.right-side-spec img{
    margin: 9px;
}

.reg-title {
    color: red;
}

.find_btn-spec, .btn_pagination {
    outline: none;
    border: none;
    background-image: linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932));
    padding: 10px 20px;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 40px 40px linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932)) inset, 0 0 0 0 linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932));
    transition: all 150ms ease-in-out;
   
}

.find_btn-spec:hover, .btn_pagination:hover {
    box-shadow: 0 0 10px 0 #019fb6 inset, 0 0 10px 4px #019fb6;
}