.top-side_doc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-side_doc h2 {
    color: #019fb6;
}

.wrap_docOverview {
    margin: 40px 40px;
}

.top_left-doc {
    width: 300px;
}

.top_left-doc h4 {
    width: 400px;
}

.top_right-doc {
        width: 500px;
        height: 300px;
}

.top_right-doc img {
    width: 500px;
    height: 300px;
    border-radius: 10%;
}

.wrappar-down_side-doc {
    margin: 40px;
}

.btn_prof-req {
    outline: none;
    border: none;
    background-image: linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932));
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
}

.down_side-doc svg {
    font-size: 3rem;
    color: #019fb6;
}