.wrapp_overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,300px);
    margin-top: 20px;
}   

.overview_title {
    border-radius: 20px;
    color: #019fb6;
    background-image: linear-gradient(460deg,  rgba(255, 255, 255, 0.6) ,  transparent);
    font-size: 2.5rem;
    width: 440px;
}

.btn_consult-per {
    display: block;
    background-image: linear-gradient(25deg, rgba(60, 221, 208, 0.952), rgba(81, 113, 255, 0.932));
    border-radius: 40px;
    height: 60px;
    width: 140px;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 40px 40px linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932)) inset, 0 0 0 0 linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932));
    transition: all 150ms ease-in-out;
}

.btn_consult-per:hover {
    box-shadow: 0 0 10px 0 #019fb6 inset, 0 0 10px 4px #019fb6;
}

.up_side-overview {
    padding-left: 10px;
}

.up_side-overview  p {
    font-size: large;
}

.middle_side-overview, .mid_happy_client-overview{
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.percent_rate {
    width: 200px;
    height: 200px;
}

.middle_side-overview p {
    grid-row-start: 2;
}


.smile_face-overview {
    width: 100px;
    height: 100px;
}

.bottom_side-overview {
    grid-row-start: 3;
    grid-column-start: 2;
}

.mid_scrl_side-overview, .mid_scrl2_side-overview {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doc_img-overview {
    grid-row-start: 3;
    grid-column-start: 1;
    margin-left: 40px;
    width: 400px;
    height: 500px;

}

.mid_scrl_side-overview p{
        width: 400px;
}

.mid_scrl2_side-overview {
    grid-row-start: 5;
    margin-left: 40px;
}

.img_bottum-doc{
    grid-row-start: 5;
    grid-column-start: 2;
    text-align: center;
}

.phone_diag {
        max-width: 150%;
        max-height: 150%;
}