body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho B1', serif;
  background-color: #d9e5f5;
  background-image: linear-gradient(100deg, #FFDDD3  50%, #FDF8E2 74%);
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
}


@media screen and (max-width: 768px) {
  

      .btn_consult {
          display: none !important;
      }

      .btn_show {
          display: none  !important;
      }


}