

.choice_sec {
    margin-left: 100px;
    height: 280px;
}

.select-sector {
    display: inline-block;
    background-color: #019fb6;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 330px;
    margin: 13px;
    outline: none;
    cursor: pointer;
}
.img_superDoc {
    display: inline-block;
    width: 320px; 
    height: 420px;
    position: relative;
    bottom: 300px;
    left: 550px;
}

.title_sec {
    width: 400px;
}

.btn_slc-find {
    margin: 5px 0 10px 140px;
    outline: none;
    border: none;
    background-image: linear-gradient(25deg, #019fb6 50%, rgba(81, 113, 255, 0.932));
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
}